{% extends "films/base_generic.html" %}
{% load widget_tweaks %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'layout:login' %}?next={{ next }}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.username.label_tag }}
      {% render_field form.username class="form-control" %}

      {{ form.password.label_tag }}
      {% render_field form.password class="form-control" %}
    </div>

    <br>

    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

{% endblock %}
