{% extends "films/base_generic.html" %}
{% load widget_tweaks %}


{% block content %}
  <h1>Submit a review for {{ film }}.</h1>
  <form action="{% url 'films:detail' film.slug %}" method="post">
    {% csrf_token %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}
        {% if form.is_bound %}
          {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {% render_field field class="form-control is-valid" %}
          {% endif %}
        {% else %}
          {% render_field field class="form-control" %}
        {% endif %}
      </div>
    {% endfor %}
    <br>
    <input type="submit" value="Post">
  </form>
{% endblock %}