<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Films</title>
  </head>
  <body>
    <h1>Submit a review for {{ film }}.</h1>
    <form action="{% url 'films:detail' film.slug %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend><h2>{{ film.film_title }}</h2></legend>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="review-text">Review:
          <textarea id="review-text" name="review-text">
            {{ review_text }}
          </textarea>
        </label>
        <br><br>

        <label for="review-date">Date:
          <input type="date" id="review-date" name="review-date" value="{{ review_date }}">
        </label>
        <br><br>

    </fieldset>
    <input type="submit" value="Post">
    </form>
  </body>
</html>
