<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Films</title>
  </head>
  <body>
    <h1>Submit a review for {{ film }}.</h1>
    <form action="{% url 'films:detail' film.slug %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend><h2>{{ film.film_title }}</h1></legend>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="review_text">Review:</label>
        <input type="text" id="review_text" name="review_text"><br><br>
        <label for="review_date">Date:</label>
        <input type="date" id="review_date" name="review_date"><br><br>
    </fieldset>
    <input type="submit" value="Post">
    </form>
  </body>
</html>
